<html>
    <head>
        <link rel="shortcut icon" href="https://yoapp.s3.amazonaws.com/yo/favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    
    <body>
        <div style="float: center">
            <img class="resize_fit_center" src="images/shot.png"/>
        </div>
        
        Yo
        <br/>
        <h2>It's that simple.</h2>
        <h2>Use it to remind yourself to</h2>
        <h8> With YoReminder, You can use Yo as a reminder with these three utility accounts. <br/> 
            <br/> YOINANHOUR (Yo's you 60 minutes later) 
            <br/> YOIN30MIN  (Yo's you 30 minutes later) 
            <br/> YOIN15MIN  (Yo's you 15 minutes later)
            <br/> YOIN5MIN  (Yo's you 5 minutes later)
        </h8>
        <footer>
            

© Copyright 2014 | <a href="http://justyo.co"> YoApp </a> | <a href="http://"> By Yasszoug </a>.

        </footer>
                
    
    </body>

</html>
